.movieDetails{
    display: flex;
    align-items: center;
}
.movieDetails svg{
    margin-right: 8px;
}
.movieDetails span{
    margin-right: 14px;
    position: relative;
}
.movieDetails span:not(:last-child)::before{
    content: "";
    position: absolute;
    top: 50%;
    right: -7px;
    transform: translateY(-50%);
    background-color: #BEBEBA;
    width: 1px ;
    height: 14px;
}
/* Movie Page Buttons Style */
a.btn-page {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #645bffbf;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.2s background;
    -o-transition: 0.2s background;
    transition: 0.2s background;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    text-decoration: none;
    width: 140px;

}

a.btn-page .arrow-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a.btn-page .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

a.btn-page .arrow::before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 3px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

a.btn-page:hover {
    background-color: var(--hover-color);
}

a.btn-page:hover .arrow {
    background: var(--secondary-color);
}

a.btn-page:hover .arrow:before {
    right: 0;
}